.btn {
  display: inline-block;
  font-size: 36px;
  font-family: $font-base;
  font-weight: lighter;
  background-color: inherit;
  border: 0.75px solid #3C3C3C;
  padding: 10px 20px;
  line-height: 1;
  color: $text-color;
  margin: 20px;
  width: 270px;
  text-align: center;
  cursor: pointer;
}