.information_container {
  text-align: center;
  color: $text-color;

  .information_header {
    font-size: 38px;
    padding-top: 55px;
    padding-bottom: 25px;
  }

  .decoration {
    padding-bottom: 30px;
  }
}

.information_cards {
  display: flex;
  justify-content: center;
  background-color: $background-color;
  padding: 50px;
  margin-bottom: 20px;

  .icon_card {
    width: 20%;
  }

  .icon_card_header {
    font-size: 18px;
    margin: 20px;

    &::after {
      content: "";
      display: flex;
      width: 100px;
      height: 2px;
      background-color: $text-color;
      margin: 20px auto;
      border-radius: 12px;
    }
  }
}