.header {
  margin: 40px 60px;
}

.header_user {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding-bottom: 15px;

  .user_link {
    text-decoration: none;
    color: $section-color;
    padding-right: 15px;
    font-size: 13px;
  }
  .user_link-active {
    text-decoration: none;
    color: $section-color;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid $accent-color;
    font-size: 13px;
  }

}

.nav_links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  color: $text-color;
  font-size: 18px;

  .nav_link {
    padding: 10px 15px;
    cursor: pointer;
  }
}