label {
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  color: $text-color;
  padding: 15px;
}

input {
  background-color: inherit;
  border: none;
  border-bottom: 2px solid $text-color;
  color: $text-color;
  opacity: 0.6;
  font-size: 18px;
  padding-top: 10px;
}
.input_error {
  background-color: rgba(190, 26, 26, 0.3);
  border-bottom-color: red;
}

textarea {
  background-color: inherit;
  border: none;
  border-bottom: 2px solid $text-color;
  width: 530px;
  height: 100px;
  color: $section-color;
  opacity: 0.6;
  font-size: 18px;
  line-height: 1;
  padding-top: 10px;
}
.textarea_error {
  background-color: rgba(190, 26, 26, 0.3);
  border-bottom-color: red;
}
.text_error {
  color: crimson;
}